[*.vb]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA2237: Mark ISerializable types with serializable
dotnet_diagnostic.CA2237.severity = none

# CA1032: Implement standard exception constructors
dotnet_diagnostic.CA1032.severity = none

# CA1815: Override equals and operator equals on value types
dotnet_diagnostic.CA1815.severity = none

# CA1034: Nested types should not be visible
dotnet_diagnostic.CA1034.severity = none
